[2020-10-02 05:29] subeshb1 opened #1 "Create a website to show all the contributors"
## Description
To show all the contributors, create a website that shows the contributors listed in the JSON file.

## Acceptance criteria
* List all the contributors listed in `contributor.js` file
* Create a website to list all the contributors

[2020-10-02 16:45] #1 closed

[2020-10-02 16:49] subeshb1 opened #3 "Add Github action to deploy site on master push"
## Description

Deploy site on code push to master

## Acceptance criteria

* When code Is pushed to master the code should be deployed to netlify
* The build should happen in Github action

[2020-10-02 16:51] subeshb1 opened #4 "Add github action to trigger rebuild of site every day"
## Description
Since the application data is generated in the build time create a Github action to update the site every one day.

[2020-10-02 16:52] subeshb1 opened #5 "Add github action to check for valid js object ordered in ascending order"
## Description
When contributors contribute to `contributors.json` check for incorrect syntax and order of assignment

## Acceptance criteria
* It should show a correct error message to a user on failure
* It should show a friendly message to a user on PR creation

[2020-10-02 18:06] subeshb1 opened #8 "Create your first PR / Join Developer Community Stats"
## Description
On the occasion of Hacktoberfest and to help beginners who have just started to get there hands dirty with GIt and Github, this repository is to guide newcomers and open source enthusiasts to come together and contribute.
The first issue is really simple, you only have to add the following fields in `contributor.json` file:
[code]

Here is a reference from an early contributor: http

[2020-10-02 18:17] subeshb1 opened #10 "Create contribution guidelines, code of conduct and upadte readme"

[2020-10-03 09:26] abhijeetekad commented on #8
thank you ..i am beginner .. i just made PR in your repository for hactoberfest...

[2020-10-03 09:29] subeshb1 commented on #8
Hi @abhijeetekad. This is a great way to getting started with open source. It looks like your PR has not been created.

You will need to create a new PR for the original repo.
Here's how to do it:

Step 1: Go to Code section of forked repo an click on Pull request below the `Code` Button besides `Compare` Button
<img width="1047" alt="Screen Shot 2020-10-03 at 07 50 41" src="https://user-images.gi

[2020-10-03 09:54] abhijeetekad commented on #8
Thank you sir for notifying me about my mistake ..

On Sat, 3 Oct 2020 at 15:00, Subesh <notifications@github.com> wrote:

[2020-10-03 15:08] subeshb1 commented on #5
Closed by #21

[2020-10-03 15:08] #5 closed

[2020-10-03 15:09] #3 closed

[2020-10-03 17:27] subeshb1 commented on #10
Closed by #27

[2020-10-03 17:27] #10 closed

[2020-10-03 17:27] subeshb1 commented on #4
Closed by #27

[2020-10-03 17:27] #4 closed

[2020-10-03 21:12] aortiz24 commented on #8
Can I be assigned this? It's my first time at Hacktoberfest!

[2020-10-03 21:15] abhijeetekad commented on #8
Yaa 👍👍

On Sun, 4 Oct 2020, 2:43 am aortiz24, <notifications@github.com> wrote:

[2020-10-05 07:58] subeshb1 opened #38 "Ideas and suggestion"
## Description

This repo is created to help beginners to take their first step into Open source contribution. This is also a place for developers all over the world to come together and view their Github profile stats. Currently only the stats of contributors who have contributed to `contributors.json` are show and the progress for showing detailed stats is going on.

##  About this issue

I need

[2020-10-05 08:00] subeshb1 opened #39 "Add Detailed Github profile stats for individual Users"
## Description

Currently, only basic stats are shown on the home page. We want to show detailed stats of a user when clicked on the respective cards.

## Acceptance criteria

* Create a separate page for each user
* Show detailed stats for each user

[2020-10-07 13:23] isabellabond commented on #8
Hello, I updated contributors.json for Hacktoberfest #48
Thank you

[2020-10-07 13:37] isabellabond commented on #8
Whoops, resubmitted a pull request since the last one was in the wrong order #50
Thank you and happy Hacktoberfest

[2020-10-07 13:56] isabellabond commented on #8
3rd times a charm #51

[2020-10-12 07:16] subeshb1 opened #61 "Add website link in github profile stats card"
## Description

We need to add website link in github profile stats card. Choose a proper icon and layout

[2020-10-12 07:17] shankar524 commented on #61
I will address this issue.

[2020-10-12 08:46] subeshb1 commented on #61
Closed by #62

[2020-10-12 08:46] #61 closed

[2020-10-12 09:31] subeshb1 opened #63 "Add github action to automatically sort"
## Description
New users are getting confused sorting their stats in `contributors.json`. It is cumbersome to do it manually. Create an action that sorts the file in ascending order and commits the file in the same pr.

## Acceptance criteria
* Sort the file in ascending order if not.
* The spec should only be run after the commit and check id made.

## Reference:
[code]

[2020-10-12 13:09] shankar524 commented on #63
I would like top address this issue.

[2020-10-13 06:51] subeshb1 opened #67 "Breakdown Graphql query"
As the number of contributors grow, a single request to fetch all user data via Github Graphql API results in a timeout.
Breakdown the query to 20 user request per query.

[2020-10-13 11:30] #8 closed

[2020-10-13 11:31] subeshb1 opened #68 "Join developer community stats / First PR (Open for everyone)"
## Description
On the occasion of Hacktoberfest and to help beginners who have just started to get there hands dirty with GIt and Github, this repository is to guide newcomers and open source enthusiasts to come together and contribute.
The first issue is really simple, you only have to add the following fields in `contributor.json` file:
[code]

Here is a reference from an early contributor: http

[2020-10-13 12:19] #67 closed

[2020-10-13 16:55] Kritimakaushal commented on #68
Could you please assign this issue to me? I will be great start for me to open source.

[2020-10-13 17:22] subeshb1 commented on #68
@Kritimakaushal this issue is open for everyone. Please submit your Pr

[2020-10-13 17:52] Kritimakaushal commented on #68
@subeshb1 Thank you for telling. I submitted my pr. How do I know if it was successful and will it be counted as one of the four pull requests we have to make in hacktober fest?

[2020-10-13 19:08] ChristineJ82 commented on #68
Hello @subeshb1 I would like to contribute to this as well.

[2020-10-14 01:11] subeshb1 commented on #68
You will have to check this in hactoberfest profile

[2020-10-14 01:35] #38 closed

[2020-10-14 04:57] subeshb1 opened #74 "Add your Github Profile / Readme (Open for everyone)"
## Prerequisites
You must have completed Issue #68

## Description
This is a second challenge for Hacktoberfest. You will add a markdown file in directory `readme-profiles` named:
[code]
Add something about you and your showcases or projects. The information will be seen when you click on your stats on the home page.

Here is a reference for markdown https://github.com/subeshb1/developer-community

[2020-10-14 05:22] subeshb1 opened #75 "Fix internal links not clicking"
## Description
The internal links in the card shown on the home page don't point to the respective links. They instead redirect to the user's profile. We need to make sure that the links in Icon are clickable and point to respective pages. The problem is caused by nesting links within a link. Try to figure out a way to make both links interactable.

## Acceptance criteria
* When clicked on the ico

[2020-10-14 05:57] binismail commented on #68
Hey, @subeshb1

I just made my first pull request please check it out.

[2020-10-14 05:59] subeshb1 commented on #68
Hi @binismail I don't see your PR in this repo.

[2020-10-14 06:07] binismail commented on #75
can I work on it ?

[2020-10-14 06:28] subeshb1 commented on #75
@binismail Yes sure. Let me clarify the issue more

[2020-10-14 06:51] subeshb1 commented on #75
@subeshb1 do let me know if you understand the issue or not. I will assign you once you confirm

[2020-10-14 08:12] hambali999 commented on #68
Hi! please merge my pr #79

[2020-10-14 08:44] binismail commented on #75
@subeshb1 yeah I do understand.

[2020-10-14 09:38] subeshb1 opened #86 "Add icons in Footer to show Build with tech stacks"
## Description
Add icons on the footer for the following technologies with their respective links:

1. React
2. Gatsby
3. Github
4. Graphql

Add a text **Made with** followed by icons.

## Acceptance criteria
* The icons should be visible in both dark and light themes
* The layout should have proper design. (Explore some examples)

[2020-10-14 09:45] subeshb1 opened #87 "Add a link to nav bar icon pointing to this repository"
## Description
When the Github icon on the navbar is clicked, direct it to this repository.

[2020-10-14 10:02] subeshb1 commented on #87
Sure @ellu-laitinen

[2020-10-14 10:30] Kritimakaushal commented on #74
I cannot find the readme_profiles directory after forking the repository. Please help @subeshb1

[2020-10-14 10:31] subeshb1 commented on #74
@Kritimakaushal Delete the fork in your profile and re-fork it or you will have to pull the changes from the main branch from the origin of this repository

[2020-10-14 10:40] Kritimakaushal commented on #74
I tried to pull the changes from the origin of the repo but while pushing it says - "Permission to subeshb1/developer-community-stats.git denied to Kritimakaushal." @subeshb1

[2020-10-14 10:41] subeshb1 commented on #74
@Kritimakaushal Try deleting the fork and re-forking

[2020-10-14 10:42] Kritimakaushal commented on #74
@subeshb1 Will it not delete my previous contributions?

[2020-10-14 10:43] subeshb1 commented on #74
@Kritimakaushal No it won't your contributions are in this repository

[2020-10-14 10:50] femakin commented on #87
Can I still work on this

[2020-10-14 10:51] subeshb1 commented on #87
@femakin This has already been assigned. If there is no response within 24 hrs I will assign it to you

[2020-10-14 10:54] femakin commented on #87
@subeshb1 Alright but can you please share some beginner projects I can contribute to as this is my first experience.

[2020-10-14 11:03] Kritimakaushal commented on #86
I want to work on this but can you describe footer of which page? @subeshb1

[2020-10-14 11:05] subeshb1 commented on #86
The footer is as single react component. If you change it it will appear in every page

[2020-10-14 11:06] Kritimakaushal commented on #86
Okay got it. Can you assign this to me?

[2020-10-14 11:07] subeshb1 commented on #86
ok

[2020-10-14 12:07] subeshb1 commented on #87
Fixed by #90

[2020-10-14 12:07] #87 closed

[2020-10-14 14:32] xdebbie commented on #86
If it doesn't get done please assign it to me!

[2020-10-14 14:53] subeshb1 commented on #86
Sure @xdebbie . Meanwhile if you havent done you can contribute to #74

[2020-10-15 01:08] subeshb1 commented on #86
Hi @Kritimakaushal any updates on this?

[2020-10-15 01:09] subeshb1 commented on #75
Hi @binismail any update on this?

[2020-10-15 05:24] binismail commented on #75
Hi, @subeshb1 am working on it, although I ran into some error because I can't find the exact code written I don't know if you can guide me more.

[2020-10-15 05:25] Kritimakaushal commented on #86
Hey @subeshb1 Yes I am doing it. Just some more time.

[2020-10-15 05:26] subeshb1 commented on #75
No worries @binismail. The files is `src/components/DeveloperCard/index.jsx` The developer card needs to be modified. Do let me know if you have any problem

[2020-10-15 05:27] subeshb1 commented on #86
Yes sure @Kritimakaushal. Take as much time as you like. Be sure to post updates on any challenges you come across or any help you require.

[2020-10-15 05:29] binismail commented on #75
okay, thanks

[2020-10-15 05:30] Kritimakaushal commented on #86
Sure @subeshb1 Thank you for willing to help

[2020-10-15 05:36] binismail commented on #75
I will work on it as soon as am back from work today.

[2020-10-15 06:11] ghanender-chauhan commented on #74
ya i will do but first did assign me this issue or its open

[2020-10-15 06:50] subeshb1 commented on #74
Its open for everyone @ghanender-chauhan

[2020-10-15 08:02] subeshb1 commented on #75
Sure @binismail. Take your time

[2020-10-15 09:05] xdebbie commented on #86
I don't manage to deploy it though, when I run gatsby develop I run into several errors

[2020-10-15 09:14] Kritimakaushal commented on #86
@subeshb1 Can you please tell more about the layout. What all to add?

[2020-10-15 09:24] subeshb1 commented on #86
@xdebbie Did you run `npm install` ? What issues did you face?

[2020-10-15 09:26] subeshb1 commented on #86
@Kritimakaushal Any design would do. It's your choice. Make it attractive 😉

[2020-10-15 09:56] xdebbie commented on #86
![](https://i.ibb.co/RjqXLtx/Screenshot-2020-10-15-at-11-54-51.png)

[2020-10-15 10:08] subeshb1 commented on #86
@xdebbie It looks like you need to install Xcode from app store first

[2020-10-15 10:51] Kritimakaushal commented on #86
![image](https://user-images.githubusercontent.com/60192998/96113854-655ee080-0f02-11eb-988c-4c74313f264d.png)

@subeshb1 I am not able to resolve this

[2020-10-15 11:10] subeshb1 commented on #86
Hi @Kritimakaushal it's ok if you find it difficult to address this issue. You can always delegate it to someone else or me. If you want to continue please let me know or I'll assign it to someone else.

[2020-10-15 11:14] Kritimakaushal commented on #86
Okay @subeshb1 please assign it to others. I think I need more practice. Thanks for the opportunity well😊.

[2020-10-15 11:16] subeshb1 commented on #86
@Kritimakaushal No problem. Keep up the good work!

[2020-10-15 11:16] subeshb1 commented on #86
@xdebbie The issue is up for a new assignee if you are looking to do it

[2020-10-16 04:31] #86 closed

[2020-10-16 04:32] subeshb1 opened #119 "Add icons in Footer to show Build with tech stacks"
## Description
Add icons on the footer for the following technologies with their respective links:

1. React
2. Gatsby
3. Github
4. Graphql

Add a text **Made with** followed by icons.

## Acceptance criteria
* The icons should be visible in both dark and light themes
* The layout should have proper design. (Explore some examples)

[2020-10-16 04:32] #63 closed

[2020-10-16 05:14] subeshb1 commented on #68
Closing this for new issue

[2020-10-16 05:14] #68 closed

[2020-10-16 05:15] subeshb1 opened #120 "Join developer community stats / First PR (Open for everyone)"
## Description
On the occasion of Hacktoberfest and to help beginners who have just started to get there hands dirty with GIt and Github, this repository is to guide newcomers and open source enthusiasts to come together and contribute.
The first issue is really simple, you only have to add the following fields in `contributor.json` file:
[code]

Here is a reference from an early contributor: http

[2020-10-16 05:16] #74 closed

[2020-10-16 05:16] subeshb1 opened #121 "Add your Github Profile / Readme (Open for everyone)"
## Prerequisites ⚠️⚠️⚠️

You must have completed Issue #120

## Description
This is a second challenge for Hacktoberfest. You will add a markdown file in directory `readme-profiles` named:
[code]
Add something about you and your showcases or projects. The information will be seen when you click on your stats on the home page.

Here is a reference for markdown https://github.com/subeshb1/developer-

[2020-10-16 05:17] faisaljamil25 commented on #120
Can you assign this to me?

[2020-10-16 05:18] subeshb1 opened #122 "Update design of card to click link on hover"
Currently, the profile page is opened on clicked anywhere on the card. Show a link after it hovers. For the profile page, the link should not be shown.

[2020-10-16 05:19] subeshb1 commented on #120
This is open for everyone @faisaljamil25 Submit your PR

[2020-10-16 05:41] b2pacific commented on #119
I would like to work on this issue.

[2020-10-16 06:07] subeshb1 commented on #119
Sure @b2pacific . I'll assign this to you. Be sure to post your updated timely and ask for help or clarification.

[2020-10-16 07:25] subeshb1 commented on #119
Fixed by #129

[2020-10-16 07:26] #119 closed

[2020-10-16 07:42] subeshb1 opened #131 "Made with icons not showing in Light primary color toggle"
## Description

When light primary color is set, the made with icons are not visible in footer:

**Light Theme:**
<img width="318" alt="Screen Shot 2020-10-16 at 13 24 09" src="https://user-images.githubusercontent.com/27361350/96226999-2c327900-0fb3-11eb-838b-2775f4cf9197.png">

**Dark Theme:**
<img width="325" alt="Screen Shot 2020-10-16 at 13 24 38" src="https://user-images.githubusercontent.co

[2020-10-16 08:03] subeshb1 opened #133 "Mobile Footer text alignment broken"
## Description

The footer layout for mobile has broken text alignment:

<img width="418" alt="Screen Shot 2020-10-16 at 13 46 24" src="https://user-images.githubusercontent.com/27361350/96229019-15d9ec80-0fb6-11eb-93cd-9b1fd9b3809d.png">

The**Made With** text and copyright text overlap each other. We need to fix the alignment.

## Acceptance criteria
* Make sure the text doesn't align in mobile

[2020-10-16 08:14] mahinourElsheikh commented on #131
Can I take this task ?

[2020-10-16 08:17] dimlaksana commented on #133
Can you assign this to me? I'll work on this

[2020-10-16 08:28] subeshb1 commented on #131
Yes @mahinourElsheikh. I'll assign it to you. Be sure to post regular updates if you face any challenge or difficulties

[2020-10-16 08:29] subeshb1 commented on #133
Yes @dimlaksana . I'll assign it to you. Be sure to post regular updates if you face any challenge or difficulties

[2020-10-16 11:21] subeshb1 commented on #131
hi @mahinourElsheikh are you taking this issue?

[2020-10-16 11:45] subeshb1 commented on #133
@dimlaksana will you be able to do it ?

[2020-10-16 12:24] dimlaksana commented on #133
Yes, I'm working on this right now

[2020-10-16 12:27] subeshb1 commented on #133
Ok thanks for the update!

[2020-10-16 13:12] Janitham97 commented on #121
I can't create a pull req for this, can anyone help me

[2020-10-16 13:23] subeshb1 commented on #121
@Janitham97 what problem are you facing?

[2020-10-16 14:13] subeshb1 opened #156 "Graphql query breaks on user id starting with numbers"

[2020-10-16 14:28] subeshb1 commented on #156
Fixed

[2020-10-16 14:28] #156 closed

[2020-10-16 15:21] #131 closed

[2020-10-16 15:21] subeshb1 opened #161 "Made with icons not showing in Light primary color toggle"
## Description

When light primary color is set, the made with icons are not visible in footer:

**Light Theme:**
<img width="318" alt="Screen Shot 2020-10-16 at 13 24 09" src="https://user-images.githubusercontent.com/27361350/96226999-2c327900-0fb3-11eb-838b-2775f4cf9197.png">

**Dark Theme:**
<img width="325" alt="Screen Shot 2020-10-16 at 13 24 38" src="https://user-images.githubusercontent.co

[2020-10-16 15:24] Charliiee commented on #131
I can take care of this, if you don't mind.

[2020-10-16 15:37] subeshb1 commented on #161
Fixed by #162 . Thansk @Charliiee

[2020-10-16 15:37] #161 closed

[2020-10-16 15:38] subeshb1 commented on #133
Hi @dimlaksana any update on this? It's ok if you get stuck we can assign it to someone else

[2020-10-16 15:44] dimlaksana commented on #133
I'm done. I've made a PR #164

[2020-10-16 15:53] subeshb1 commented on #133
Fixed by #164. Thanks @dimlaksana

[2020-10-16 15:53] #133 closed

[2020-10-16 16:05] dimlaksana opened #167 "Navbar menu not visible on Mobile"
So when I was working on #133, I noticed some bugs:

- `Navbar menu`  is not visible on mobile web version.

![Screenshot_20201017_0025401](https://user-images.githubusercontent.com/57056689/96281209-fe315100-1013-11eb-9941-c80aa8a499d8.png)

- and what is the purpose of this blank space below the `footer`?

![Screenshot_20201017_004927](https://user-images.githubusercontent.com/57056689/96281481-

[2020-10-16 16:19] subeshb1 commented on #167
Hi @dimlaksana. Actually, the design for mobile is not quite complete and needs a lot of improvements. I can use some help!
Will be more than happy to have this designed properly. The theme picker was left out on purpose, assuming that it will have a design that fitted in the mobile view. You can suggest and add the view. Thanks! :)

[2020-10-16 16:49] #167 closed

[2020-10-16 16:52] subeshb1 commented on #75
Fixed!

[2020-10-16 16:52] #75 closed

[2020-10-16 16:54] subeshb1 commented on #122
Done!

[2020-10-16 16:54] #122 closed

[2020-10-17 04:57] subeshb1 opened #201 "Mobile Navbar covers first developer card content"
## Description
The mobile navbar covers the first developer card information.

**Current Behaviour**:
<img width="369" alt="Screen Shot 2020-10-17 at 10 38 10" src="https://user-images.githubusercontent.com/27361350/96328652-25643e80-1065-11eb-9604-c9983031bcda.png">

**Expected Behaviour**:
<img width="367" alt="Screen Shot 2020-10-17 at 10 38 46" src="https://user-images.githubusercontent.com/27

[2020-10-17 05:08] b2pacific commented on #201
Can I work on this issue?

[2020-10-17 05:10] subeshb1 commented on #201
Yes, @b2pacific. Be sure to post updates if you get stuck

[2020-10-17 05:14] b2pacific commented on #201
Can you please tell me the command you that you told me to run when I was getting that error last time.
I forgot that command

[2020-10-17 05:16] subeshb1 commented on #201
[code]

[2020-10-17 05:19] subeshb1 opened #202 "Add some suggestions and feature request (Open for everyone)"
## Description
If you have suggestions or feedback regarding the design of the website, repository structure please let me know in this issue. Any feedback would be highly appreciated. You can:
* suggest change,
* add your design,
* or simply comment on your thoughts,
* and share what you've learned

[2020-10-17 05:31] sadakchap commented on #202
Maybe adding smooth transition effect on card hover

[2020-10-17 05:31] subeshb1 opened #203 "Update the corn schedule time of daily build to 4hrs"
## Description
Currently, the daily build cron is scheduled to run every 12 hours. Change it to run 4 hours.

## Reference:
[code]

[2020-10-17 05:34] subeshb1 commented on #202
Yes, that seems like a nice idea! Thanks @sadakchap! Will create an issue for it

[2020-10-17 05:35] sadakchap commented on #202
@subeshb1 , can I work on that issue?

[2020-10-17 05:37] sadakchap commented on #203
Hi @subeshb1 , I would like to work on it. may I?

[2020-10-17 05:39] subeshb1 opened #205 "Add animation to hover effect on Developer card"
## Description
Currently, when the developer card is hovered over by a mouse, it shows a link to go to the profile page. We had a suggestion to add smooth transitions to it.

## Acceptance criteria
* Make a smooth transition to show a link to go to profile page when Developer card is hovered. (Feel free to use your creativity)
* The theme changes color should apply as well
* Add a GIF to show the

[2020-10-17 05:40] subeshb1 commented on #202
Yes, sure! Here is the link #205

[2020-10-17 05:40] subeshb1 commented on #203
Yes sure! Go ahead @sadakchap

[2020-10-17 05:45] sadakchap commented on #205
Hi @subeshb1 ,  can I help to add smooth transition effects?

[2020-10-17 05:47] Malvika18 commented on #205
hey can i contribute to this

[2020-10-17 05:47] sadakchap commented on #203
Hey, I tried changing cron schedule to 4 hours, in this [PR](https://github.com/subeshb1/developer-community-stats/pull/207) .

Please, have a look and let me know😃

[2020-10-17 05:47] subeshb1 commented on #205
I assigned this to @sadakchap

[2020-10-17 05:48] subeshb1 commented on #205
Hi @Malvika18 sorry this was assigned. You looked at others issues: https://github.com/subeshb1/developer-community-stats/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

or you can create your own by providing suggestions

[2020-10-17 05:50] subeshb1 commented on #203
Thanks! We can monitor this in the Actions tab to see if it's working or not. Great job!

[2020-10-17 05:50] #203 closed

[2020-10-17 05:55] b2pacific commented on #201
![Screenshot from 2020-10-17 11-21-36](https://user-images.githubusercontent.com/52305879/96329522-665f5180-106b-11eb-927f-2e91b2b8a5bc.png)

[2020-10-17 05:57] #201 closed

[2020-10-17 06:57] sadakchap commented on #205
Hi @subeshb1 , I tried these 2 transition -
- this is simple smooth transition
![9VFsLMowIr](https://user-images.githubusercontent.com/44117648/96330572-d07bf480-1073-11eb-9d97-325bc14e1d08.gif)

- this transition has a little zoom effect
![UMtoRcWJBy](https://user-images.githubusercontent.com/44117648/96330594-fc977580-1073-11eb-8f80-60d2dfc421c4.gif)

Please, let me know which one should I imple

[2020-10-17 06:59] subeshb1 commented on #205
This is great work @sadakchap! I like the first one :)

[2020-10-17 09:45] subeshb1 commented on #205
Fixed by #216

[2020-10-17 09:45] #205 closed

[2020-10-17 11:06] subeshb1 opened #219 "Add a github action to put Emojis on pull requests"
## Description
Add a GitHub action to put emoji whenever a new pull request is opened from a forked repository.

[2020-10-17 15:13] subeshb1 opened #231 "Add filters and sorters for sorting and filtering users"
## Description
As the number of contributors is growing and it's quite hard to find one's own profile, we need a feature to sort and filter out users. It is to be done on the client-side.
The filterable fields are:
1. Github user name
2. User name
3. Country

The sortable fields are:
1. Country
2. Github user name
3. User name
4. Total commits (this year)
5. Followers

## Acceptance criteria
* The

[2020-10-17 16:40] Abhikumar98 commented on #231
@subeshb1 I can take this up.

[2020-10-17 16:43] subeshb1 commented on #231
Yes sure @Abhikumar98. Be sure to post updates if you get stuck or need clarification

[2020-10-17 17:02] Abhikumar98 commented on #231
Hey @subeshb1 , getting this error while trying to start run the project in local.
`Cannot query field "allContributor" on type "Query".`.
Could you help me out here ?

[2020-10-17 17:05] subeshb1 commented on #231
Use the following for development
[code]

The project uses github graphql api to fetch user stats. So it requires Github token . The above command mocks github api
@Abhikumar98

[2020-10-17 18:57] giovannicruz97 commented on #219
Hey, @subeshb1. Can I take this one?

Could you give an example of how this feature should work? It's little bit unclear for me.
Thanks a lot!

[2020-10-18 01:44] subeshb1 commented on #219
Yes, sure @giovannicruz97.

This issue is to make sure that our contributors are welcomed when they create PR.

Currently, we have a Github action that has an automated message thanking users for their contributions.
Reference: https://github.com/subeshb1/developer-community-stats/blob/main/.github/workflows/contributor_greet.yaml

Search for the marketplace or create your own logic, which adds em

[2020-10-18 02:02] subeshb1 commented on #231
Fixed bt #237. Thanks a lot @Abhikumar98 for your wonderful work.

[2020-10-18 02:02] #231 closed

[2020-10-18 02:06] subeshb1 opened #238 "Sort buttons are not visible in Dark mode"
## Description
In dark mode, the sort buttons are not visible.
<img width="1439" alt="Screen Shot 2020-10-18 at 07 46 17" src="https://user-images.githubusercontent.com/27361350/96357094-99125400-1116-11eb-8062-1c5dd49ab069.png">
Make sure that the buttons are visible in both dark and light theme

## Acceptance criteria
* Make sure the buttons are visible in both dark and light theme
* Screenshot

[2020-10-18 02:08] subeshb1 opened #239 "User name search input is not responsive"
## Description
The user search input is not responsive in mobile devices
<img width="361" alt="Screen Shot 2020-10-18 at 07 46 45" src="https://user-images.githubusercontent.com/27361350/96357118-f4444680-1116-11eb-976e-13dd2e4e1965.png">

Make sure that the input is responsive in mobile devices

## Acceptance criteria
* Make sure that the input is responsive in mobile devices
* Screenshot of chan

[2020-10-18 02:15] subeshb1 opened #240 "User Interface broken after addition of ant-d"
## Description

After the introduction of the ant-d package to add filters, the existing interface design has broken.

### Examples:

**Before**
<img width="467" alt="Screen Shot 2020-10-18 at 07 57 13" src="https://user-images.githubusercontent.com/27361350/96357152-aaa82b80-1117-11eb-96cd-026544ae5c21.png">

**Present**
<img width="482" alt="Screen Shot 2020-10-18 at 07 54 56" src="https://user-

[2020-10-18 04:20] Abhikumar98 commented on #231
@subeshb1 Most welcome 😄

[2020-10-18 04:54] #238 closed

[2020-10-18 05:37] tooshar commented on #202
### **A Suggestion:**
@subeshb1, in **_Change Website Theme_** menu , after we click on **Show more** button, the height of the menu exceeds the page height (when not zoomed out). We should have a **scrollbar** in the menu.

[2020-10-18 05:43] tooshar commented on #202
### Bug Report:
When I click/set **Dark** as Theme in **_Change Website Theme_** menu, the font-color of texts in dropdowns, input boxes, become white, and gives a feel of blank selections.

[2020-10-18 05:46] subeshb1 commented on #202
Hi, @tooshar Thanks for the suggestion. Do you mean the view is not displayed in the mobile view?
I can create an issue if you can explain more.

And for the Bug report can you create an issue with screenshots to clarify more?

[2020-10-18 05:50] subeshb1 commented on #240
It looks like adding ant-design has overridden the styles of the website.

Before:
<img width="1437" alt="Screen Shot 2020-10-18 at 11 02 39" src="https://user-images.githubusercontent.com/27361350/96359340-78a3c300-1131-11eb-9a35-6216dd6cb592.png">

After:
<img width="1438" alt="Screen Shot 2020-10-18 at 11 02 29" src="https://user-images.githubusercontent.com/27361350/96359344-80636780-1131-11eb

[2020-10-18 05:50] subeshb1 commented on #240
We might have to remove ant-design

[2020-10-18 05:51] subeshb1 commented on #239
fixed by #244

[2020-10-18 05:51] #239 closed

[2020-10-18 05:53] sadakchap commented on #202
### Suggestion
![image](https://user-images.githubusercontent.com/44117648/96359764-21ebb880-1134-11eb-99ae-a838762a9ce1.png)
Can we remove these vertical scollbars as we don't use it(disabled by browsers because very little content overflow).

[2020-10-18 05:58] Abhikumar98 commented on #240
@subeshb1  I've fixed the styling issues caused by due to antd.

[2020-10-18 06:00] subeshb1 commented on #202
Yes sure @sadakchap. Can you create an issue and submit a fix?

[2020-10-18 06:03] tooshar commented on #202
@subeshb1 try to do **CTRL + +**, after opening the change website theme menu and expanding the more options, you will see the extra options get hidden and go out of view. I am not sure for mobile view.

And for the bug, I will create an issue, with explanation.

[2020-10-18 06:03] subeshb1 commented on #240
@Abhikumar98
We might have to look for an alternative to `ant-design`

In dark mode, the theme picker inputs color is overridden and shown white.

The font's in the footer are smaller.

The icons size have been made smaller

The padding in div has been changed

Since we have a lot of issues, it's better to use another library or build our own.

[2020-10-18 06:06] sadakchap opened #245 "Remove disabled vertical scrollbar"
### Description

Remove vertical scrollbar in **Change website theme** menu.

![image](https://user-images.githubusercontent.com/44117648/96359976-26b16c00-1136-11eb-9286-6283484dea13.png)

[2020-10-18 06:07] subeshb1 opened #246 "Create a staging environment"
## Description
As the number of collaborators increases and the changes made can be breaking, it'll help out a lot to create a staging environment where we can test first and then deploy to production

## Acceptance criteria
* Create a Github action workflow to run for the staging environment
* Create a URL for stating environment in netlify
* Choose branch `staging`

[2020-10-18 06:08] sadakchap commented on #202
Sure @subeshb1 , there is the [issure](https://github.com/subeshb1/developer-community-stats/issues/245)

[2020-10-18 06:10] Abhikumar98 commented on #240
@subeshb1  Got it.
I'll look into this.

[2020-10-18 06:11] subeshb1 commented on #240
Thanks, @Abhikumar98. Happy to have you as a contributor :)

[2020-10-18 07:07] sadakchap commented on #245
Hi @subeshb1 , tried these two things -
- It doesnt have any unwanted scrollbars
![image](https://user-images.githubusercontent.com/44117648/96360824-2a48f100-113e-11eb-9c69-8a924d8be963.png)

- It does not have only vertical scrollbar
![image](https://user-images.githubusercontent.com/44117648/96360848-5e241680-113e-11eb-9488-f6e23629841d.png)

Which one do you like?

[2020-10-18 07:15] tooshar opened #248 "After Selecting Dark Mode, the labels disappear"
### Description
Please refer the image, all input fields lose their selected value.

![image](https://user-images.githubusercontent.com/26686938/96360993-82ccbe00-113f-11eb-846d-559cfc3ea5a2.png)

[2020-10-18 07:16] tooshar commented on #248
@subeshb1 , I would like to fix and close this issue.

[2020-10-18 07:24] tooshar commented on #248
Got reference of a parent [issue](https://github.com/subeshb1/developer-community-stats/issues/240),
from https://github.com/subeshb1/developer-community-stats/issues/240#issuecomment-711121973

[2020-10-18 12:29] subeshb1 commented on #245
Cant, we do overflow auto for both? @sadakchap

[2020-10-18 12:30] subeshb1 commented on #248
Thanks for reporting this @tooshar. It looks like importing a package `ant-design` was the root cause of UI breaking. @Abhikumar98  is looking to fix it

[2020-10-18 13:32] sadakchap commented on #245
Yep @subeshb1 , first one is `overflow:auto` and second one is `overflow: scroll hidden`.
So, should we go for first one?

[2020-10-18 13:38] subeshb1 commented on #245
Yes let's go with first.

[2020-10-18 15:32] subeshb1 commented on #245
Fixed by #255

[2020-10-18 15:32] #245 closed

[2020-10-19 02:05] #120 closed

[2020-10-19 02:05] subeshb1 opened #259 "Join developer community stats / First PR (Open for everyone)"
## Description
To help beginners who have just started to get their hands dirty with GIt and Github, this repository is to guide newcomers and open source enthusiasts to come together and contribute.
The first issue is really simple, you only have to add the following fields in `contributor.json` file:

⚠️ ⚠️ ⚠️ **Add the values in ascending order alphabetically by Github user name** ⚠️ ⚠️ ⚠️
[cod

[2020-10-19 02:06] subeshb1 opened #260 "Add your Github Profile / Readme (Open for everyone)"
## Prerequisites ⚠️⚠️⚠️

You must have completed Issue #259

## Description
This is the second challenge. You will add a markdown file in directory `readme-profiles` named:
[code]
Add something about you and your showcases or projects. The information will be seen when you click on your stats on the home page.

Here is a reference for markdown https://github.com/subeshb1/developer-community-stats/

[2020-10-19 02:06] #121 closed

[2020-10-19 04:43] subeshb1 commented on #240
I'll be removing ant-design for now until we look for another alternative

[2020-10-19 05:37] subeshb1 commented on #248
This has been fixed

[2020-10-19 05:37] #248 closed

[2020-10-19 05:37] subeshb1 commented on #202
@tooshar Thanks for the suggestions and bug report. I have addressed them

[2020-10-19 06:11] KeefeKoh opened #267 "New trial"
"<guthub_username>": {
   "country": "Your Country", // Required
   "name": "Your Name", // Required
   "linkedin": "linkedin URL", // Optional
   "twitter": "twitter URL", // Optional
   "website":"website or blog URL"//Optional
}

[2020-10-19 06:31] subeshb1 commented on #267
Hi @KeefeKoh did you meant to create a Pull request instead?

[2020-10-19 06:35] subeshb1 commented on #267
Closing this

[2020-10-19 06:35] #267 closed

[2020-10-19 08:06] suffisme commented on #202
Sorry, I couldn't find link for the website. Can you please share it again?
I am getting interested in contributing.

[2020-10-19 08:07] subeshb1 commented on #202
Yes sure, Here it is: https://developer-community-stats.netlify.app/

[2020-10-19 08:30] subeshb1 opened #280 "Remove build step from contributor spec github action"
## Description
Since GitHub tokens can't be used in Github actions for PR coming from the forked repository, a mock was set up to build for those PRs. However the mock takes quite some time. And to speed up action build, remove the app build a part in

[code]

There will be a separate issue to handle cases where website build is necessary.

[2020-10-19 08:34] subeshb1 opened #281 "Prevent main branch github action to run on non code base files"
## Description
The deploy action gets triggered on push to master. But it also runs when changes in Readme files and non deploy needing files.

Update the action to prevent deploy on pushes to those files:

[code]

[2020-10-19 09:45] AdnCodez opened #287 "Nav menu element not showing in SM responsive point"
The icon of changing the theme color, is not showing in the range 340px to 320, and vertical alignment is a bit off

[2020-10-19 10:53] subeshb1 commented on #287
Closed by #290

[2020-10-19 10:53] #287 closed

[2020-10-19 10:53] subeshb1 commented on #219
Hi @giovannicruz97 any updates on this? Please let me know if you face any problem

[2020-10-19 13:30] shankar524 commented on #63
@subeshb1  Has this issue been sorted?

[2020-10-19 13:33] subeshb1 commented on #63
No @shankar524. Closed this as no one there was to pick it up and had been dangling

[2020-10-19 13:52] AlexCinetic commented on #259
Just to mention, there is a Typo in your Issue:
[code]

should read
[code]

[2020-10-19 13:56] subeshb1 commented on #259
Thank you @AlexCinetic! Fixed it 😄

[2020-10-19 14:08] subeshb1 commented on #39
Closing this issue for now. Currently we are showing user readme profile

[2020-10-19 14:08] #39 closed

[2020-10-19 18:35] Joblyn opened #351 "Added GitHub profile"
Added my github profile to contributors.json

[2020-10-19 23:37] #351 closed

[2020-10-20 02:18] #280 closed

[2020-10-20 03:06] subeshb1 commented on #240
Closing this as this has been stale for 2 days. Revisiting this idea

[2020-10-20 03:06] #240 closed

[2020-10-20 03:14] subeshb1 opened #370 "Add filters"
## Description
This is a revision to #231, where filters and sorters were added. However, it used a package `ant-design` that broke all the websites UI and imported unnecessary CSS. We had to revert the changes. Currently, there are sorters that when clicked sorts the lists accordingly.

We need to add the following filters:
1. Github user name
2. Country
3. User name

The design is open for sugge

[2020-10-20 05:26] subeshb1 opened #376 "Create a post step to add message to commit if it fails"
## Description
A lot of beginners don't read the descriptions and don't check to see if the order is in ascending or not. Create a GitHub action step in spec action to add a comment of spec fails. List the steps to do it.

[2020-10-20 05:42] subeshb1 opened #379 "Create a post step to congratulate on successful build"

[2020-10-20 06:10] #376 closed

[2020-10-20 09:05] Kodekin commented on #259
I would like to tackle this.

[2020-10-20 09:08] subeshb1 commented on #259
It's open for everyon2 @Kodekin

[2020-10-20 09:49] Kodekin commented on #260
I would like to tackle this

[2020-10-20 10:00] subeshb1 commented on #260
It's open for everyone @Kodekin

[2020-10-20 10:24] #379 closed

[2020-10-20 10:47] subeshb1 opened #411 "Make seperate artifact for each build"

[2020-10-20 10:48] giovannicruz97 commented on #219
Hey @subeshb1 I didn't have much free time for this yet... If someone wants to solve this issue, it's okay for me :sob:

[2020-10-20 11:32] subeshb1 commented on #219
Sure @giovannicruz97. No problem

[2020-10-20 11:55] #411 closed

[2020-10-20 12:07] subeshb1 opened #419 "When a user deletes a github account or the user in the account is not available the deploy fails"

[2020-10-20 12:10] subeshb1 commented on #419
Fixed

[2020-10-20 12:10] #419 closed

[2020-10-20 13:35] subeshb1 opened #424 "Create a page to show repository statistics"
## Description
As the repository and number of contributor grows, it will be really good to see the growth in numbers. Create a page that shows the following statistics:
* Number of users per country
* Total number of contributors
* Highest contributors (Top 10) based on Pr and issues worked on
* graph showing number of contributors per day
* number of users joined per day

[2020-10-20 15:03] Mugilan-Codes commented on #260
Instead of creating a profile readme for each one. Can we not use the existing one by linking the Profile README.md directly. That way it will always be updated?

[2020-10-20 15:50] msriaz commented on #281
@subeshb1 I would love to contribute on this issue, please assign it to me.

[2020-10-20 16:14] subeshb1 commented on #281
Yes sure @msriaz . Be sure to post updates regularly

[2020-10-20 20:33] msriaz commented on #281
Please check [this PR](https://github.com/subeshb1/developer-community-stats/pull/462) for the fix of this issue.

[2020-10-21 00:49] MissyM2 commented on #424
can I try this one?

[2020-10-21 01:11] subeshb1 commented on #424
Yes, sure @MissyM2 . Be sure to post regular updates

[2020-10-21 02:17] ronlaniado commented on #370
Can I try to tackle this one?

[2020-10-21 02:23] subeshb1 commented on #370
yes sure. @ronlaniado be sure to keep us updated

[2020-10-21 02:25] ronlaniado commented on #370
To be clear, we want to add functionality to be able to search by country or username?

[2020-10-21 02:52] subeshb1 commented on #370
Both. Currently, we can search by GitHub user name. Now we want a feature to search or filter by country as well.

[2020-10-21 03:56] ronlaniado commented on #370
I have added this feature here #485

[2020-10-21 05:34] #370 closed

[2020-10-21 05:35] subeshb1 commented on #370
Thanks @ronlaniado

[2020-10-21 06:47] subeshb1 commented on #281
Fixed

[2020-10-21 06:47] #281 closed

[2020-10-21 07:42] subeshb1 commented on #424
Hi @MissyM2 Any updates on this? Will you be taking this?

[2020-10-21 09:46] RuteshRathod opened #510 "Some Grammatical Typos in README.md"
Correct some grammatical typos for README.md

[2020-10-21 10:02] msriaz commented on #219
@subeshb1 I would love to contribute on this issue. Please assign it to me.

[2020-10-21 10:03] subeshb1 commented on #510
Let's extend this to the entire repository, not just a single file @RuteshRathod

[2020-10-21 10:04] subeshb1 commented on #219
Sure @msriaz. Please let me know if the requirement is not clear. We need to add emojis to the GitHub PR description

[2020-10-21 10:12] msriaz commented on #219
Sure, I will ask if any clarity needed.

[2020-10-21 10:51] #510 closed

[2020-10-21 12:39] MissyM2 commented on #424
Hi, there, I will try this.  I will update you by 5 pm est.

[2020-10-21 13:48] subeshb1 commented on #424
Sure @MissyM2. Thank you!

[2020-10-21 16:32] MissyM2 commented on #424
Just a little update that I got the app running locally and, as you saw, I added myself as a contributor and a profile.  I have looked over the code but I will not really begin to work on this until later this afternoon.

[2020-10-21 16:52] subeshb1 commented on #424
It's ok @MissyM2 Take as much time as you need, just keep us posted with updates like this so that we know it's being worked on. And thank you so much for this :)

[2020-10-22 05:10] subeshb1 commented on #246
Created

[2020-10-22 05:10] #246 closed

[2020-10-24 04:49] abhishekpatel946 commented on #202
added a little bit hover effect with transition and transform on each card & also hovor-effect on the buttons on the top of the main page.

[2020-10-29 10:25] subeshb1 commented on #259
Hello

[2020-11-01 15:35] Rebaiahmed commented on #202
- > **Feature sugeestion1** : What about adding pagination in the place of scrolling to the end of the page ?
- > **Feature sugeestion 2** :  Filtring and sorting by number of pull requests of user  ?
- > **Feature sugeestion 3** :  Making stats page : Per country , Per technologies , Per respositories  ?

[2020-11-02 07:59] subeshb1 commented on #202
Hi, @Rebaiahmed Thanks for the suggestions. I will be creating issues for them shortly. If you are free and willing to contribute on these issues please feel free to create an issue for each suggestion and submit the change in PR.

[2020-11-02 16:46] MissyM2 commented on #424
hi, @subeshb1 I am sorry I haven't made progress on this.  I got bogged down with work.  I should have time this week.  I know Hacktoberfest is over but I am interested in this project.  Is it OK if I continue to work on it?

[2020-11-03 07:42] subeshb1 commented on #424
Yes, sure @MissyM2. Thanks for putting time into it. You can continue working on it 😄

[2020-11-04 07:49] #219 closed

[2020-11-06 15:46] amandeepmicro commented on #259
Wanted to mention a small typo-
`Step 1: Go to Code section of forked repo an click on Pull request `
should be
`Step 1: Go to Code section of forked repo and click on Pull request `

[2021-01-31 18:21] alokprince commented on #260
I am a beginner can I tackle this?

[2021-02-01 03:14] subeshb1 commented on #260
sure @alokprince

[2021-10-01 16:31] HiruniPerera commented on #202
Hi can i work on this? would love to contribute

[2021-10-03 11:27] #424 closed

[2021-10-03 11:27] #260 closed

[2021-10-03 11:27] #259 closed

[2021-10-03 11:27] #202 closed